@media screen and (max-width: 767px) {
    :root { --tilesize: calc(50vw - 18px) }
    .tile {
	width:  var(--tilesize);
	height: var(--tilesize);
    }
}

@media screen and (min-width: 767px) {
    :root { --tilesize: max(144px, calc(-18px + (100vw - 12px) / 8)) }
    .tile {
	width:  var(--tilesize);
	height: var(--tilesize);
    }
}

body * {
    font-family: montserrat, sans;
}

.tile {
    display: inline-block;
    margin: 4px;
    padding: 4px;

    color: #DCDDDB;

    font-size: 16pt;

    float:left;
    clear:none;

    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;    
    padding-top: 6px;    
}

.tile, .tile.off  { background-color: #BDC1C5 }
.tile.on { background-color: #69695E }

